// App colors
$app-background: #ffffff;
$app-foreground: #333333;
$app-primary: #4784d3;
$app-secondary: #c5c5c5;
$app-success: #80fa3a;
$app-warning: #fad73a;
$app-error: #fa3a3a;


// Colors
$color-white: #ffffff;
$color-red: #fa3a3a;
$color-yellow: #fad73a;
$color-green: #80fa3a;
$color-blue: #4784d3;