@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'login.css';

:root {
  --header-bg: #3f75bd;
  --app-bg: #ffffff;
  --app-fg: #333333;
  --app-fg2: #ffffff;
  --app-primary: #3f75bd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;

  background-color: var(--app-bg);
  color: var(--app-fg);
}

.sidebar-container {
  float: left;
  background-color: var(--app-primary);
  color: #ffffff;
  height: 100%;
  padding: 10px;
  text-align: center;
}

.sidebar-container > li {
  float: left;
  display: block;
}

/* Form styling */
.fullwidth-form {
  width: 100%;
  display: flex;

  margin: none;
  flex-direction: column;
}

.form-container {
  padding-top: 100px;
}

.form-input {
  /* Remove default styling */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  box-shadow: none;
  box-sizing: border-box;
  border: 1px var(--app-primary) solid;
  border-radius: 8px;
  height: 28px;
}

.form-button {
  /* Remove default styling */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  margin: 8px 32px;
  border-radius: 8px;
  height: 34px !important;

  background-color: var(--app-primary);
  color: var(--app-fg2);
}

.form-button:active {
  filter: brightness(85%);
}