<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">

  <title>Mammoth</title>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body>
  <!-- Sidebar -->
  <div class="sidebar-container">
    <ul>
      <li><i class="fas fa-home fa-2x"></i></li>
      <br>
      <li><i class="fas fa-globe fa-2x"></i></li>
      <br>
      <li><i class="fas fa-bell fa-2x"></i></li>
    </ul>
  </div>

  <!-- Content -->
  <div class="content-container">

  </div>


</body>

</html>