<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/all.css">
  <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">

  <title>Mammoth</title>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body>
  <!-- Sidebar -->
  <div class="sidebar-left">
    <ul>
      <li>
        <!-- Home -->
        <i class="fas fa-home fa-2x"></i>
      </li>
      <br>
      <li>
        <!-- Federated -->
        <i class="fas fa-globe fa-2x"></i>
      </li>
      <br>
      <li>
        <!-- Notifications -->
        <a href="http://localhost:6969/app/login">
          <i class="fas fa-bell fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Content -->
  <div class="content">
    <p>Hello</p>
  </div>

</body>

</html>